.carousel-wrapper {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.carousel-wrapper.slide-in {
  transform: translateX(0);
  opacity: 1;
}
.navbar {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  transition: background-color 0.3s ease;
}
